.article
  .article-inner
    %a.button.button-blue.button-nano.pull-right{href: '#'}
      %span.icon.icon-download
      Скачать
    .formatted.formatted-serif.text-bound
      %h2 Что нужно знать, заключая договор аренды
      %p Заключая договор аренды, арендатор должен проявить должную осмотрительность&nbsp;&mdash; ведь только правильно составленный договор позволит ему учесть все затраты, возникающие при исполнении контракта. На&nbsp;практике&nbsp;же подготовку и&nbsp;проработку условий договоров, которые планирует заключить компания, зачастую возлагают на&nbsp;бухгалтерию.
      %p Особенно часто такая ситуация встречается в&nbsp;компаниях малого и&nbsp;среднего бизнеса, не&nbsp;имеющих штатного юриста. Считается, что поскольку последствия любой сделки в&nbsp;конечном итоге находят свое отражение в&nbsp;учете, именно бухгалтеру лучше и&nbsp;проще составить выгодный для компании контракт.
      %p Однако эта задача не&nbsp;так проста, как кажется на&nbsp;первый взгляд. Ведь чтобы составить грамотный договор, бухгалтеру необходимо ориентироваться в&nbsp;гражданском законодательстве. Кроме того, здесь не&nbsp;обойтись и&nbsp;без анализа норм налогового права: необходимо просчитать налоговые последствия тех или иных формулировок, прописанных в&nbsp;договоре. Получается, что, составляя договор, бухгалтеру необходимо одновременно быть и&nbsp;счетоводом, и&nbsp;аналитиком, и&nbsp;юристом. Как и&nbsp;в&nbsp;любом деле, здесь существуют свои правила, которых нужно придерживаться для того, чтобы достичь желаемого результата. На&nbsp;какие нюансы при заключении договора аренды должна обратить внимание бухгалтерия компании-арендатора, рассказано ниже.
      %h3 Существенные условия и&nbsp;порядок заключения договора аренды
      %p Договор считается заключенным только в&nbsp;том случае, если в&nbsp;нем указаны все существенные условия для данного вида сделки (п. 1&nbsp;ст.&nbsp;432 Гражданского кодекса РФ).
      %p Арендным отношениям посвящена глава 34&nbsp;Гражданского кодекса РФ. По&nbsp;договору аренды арендодатель принимает на&nbsp;себя обязательство предоставить арендатору имущество во&nbsp;временное владение и&nbsp;пользование или только во&nbsp;временное пользование.
      %p Статья 607 Гражданского кодекса&nbsp;РФ позволяет сдавать в&nbsp;аренду земельные участки, предприятия, здания, сооружения, оборудование, транспортные средства и&nbsp;другие так называемые непотребляемые вещи, которые при использовании не&nbsp;теряют своих свойств. При этом право собственности на&nbsp;сданное имущество остается у&nbsp;арендодателя (ст.&nbsp;608 Гражданского кодекса&nbsp;РФ).