.formatted.text-bound{style: 'margin-top: 11px'}
  %h2
    Продажа и прочее выбытие
    %a.button.button-blue.button-nano{href: '#'}
      %span.icon.icon-download
      Скачать
  %p Здравствуйте! В&nbsp;этом курсе я&nbsp;вкратце расскажу обо всех основных моментах, которые нужно знать о&nbsp;материалах.
  %p<
    %iframe{width: 560, height:315, src: 'http://www.youtube.com/embed/dn_UMtD1eqM', frameborder: 0, allowfullscreen: true}
  %p Материалы&nbsp;— это вид запасов. Из&nbsp;них изготавливают что-либо или используют в&nbsp;хозяйственной деятельности компании.
  %p Примеры материалов:
  %p<
    %img{src: 'images/static/course/560x280.jpg', width: 560, height: 280}
  %h3 Амортизация
  %p Стоимость списывают на&nbsp;затраты не&nbsp;единовременно, а&nbsp;постепенно&nbsp;— через амортизацию. Способы ее&nbsp;начисления:
  %ul
    %li
      в&nbsp;бухгалтерском учете —
      %ol
        %li линейный,
        %li уменшаемого остатка,
        %li списание стоимости по&nbsp;сумме чисел срока полезного использования,
        %li списание стоимости пропорционально объему продукции (работа),
    %li
      в&nbsp;налоговом учете&nbsp;—
      %ol
        %li линейный,
        %li нелинейный.
  .inset.inset-tip
    %p Выбранный способ компания закрепляет в&nbsp;учетной политике. Компания вправе применять разные способы начисления амортизации к&nbsp;различным группам однородных основных средств.
  %h3 Продажа и&nbsp;прочее выбытие
  %p Чтобы отразить в&nbsp;бухгатерском учете продажу или списание основного средства, на&nbsp;счете 01 откройте отдельный субсчет «Выбытие основных средств».
  .formatted-divider
  %p<
    %iframe{width: 560, height:315, src: 'http://www.youtube.com/embed/7-j7viQLj58', frameborder: 0, allowfullscreen: true}
  .inset.inset-reference
    %p Дебет 01 субсчет «Выбытие основных средств» Кредит 01&nbsp;— отражена первоначальная стоимость выбывающего основного средства;
    %p Дебет 02 Кредит 01 субсчет «Выбытие основных средств»&nbsp;— отражена амортизация, начисленная за&nbsp;период эксплуатации объекта.
  %p Доходы от&nbsp;выбытия основного средства (например, выручку от&nbsp;продажи) отразите в&nbsp;составе прочих доходов. Например, при продаже основного средства проводка будет такой:
  .inset.inset-reference
    %p Дебет 62 (76) Кредит 91-1&nbsp;— отражена выручка от&nbsp;реализации основго средства.