<div class="formatted text-bound" style="margin-top: 11px">
  <dl>
    <dt>
      Уплата налога</dt>
    <dd>
      <h2>
        &nbsp;</h2>
    </dd>
    <dd>
      <ul>
        <li>
          <div class="name num">
            <strong>Автомобиль снят с учета в ГИБДД (получены номера &laquo;ТРАНЗИТ&raquo;), но еще не продан</strong></div>
          <div class="text">
            <p>
              Если автомобиль снят с учета в ГИБДД и получены транзитные номера, но еще не продан, транспортный налог нужно платить только за месяц снятия с учета. Со следующего месяца налог не платят.</p>
            <img alt="" src="/backend/upload/images/cf25ff9d-4297-44ea-8d89-8f9915d3877f.png" style="width: 500px; height: 159px;" />
            <p>
              После снятия с учета на машине еще можно ездить в течение 20 суток. Либо вообще поставить машину в гараж и не ездить на ней, дожидаясь покупателя. Выдача знаков &laquo;Транзит&raquo; не означает, что автомобиль поставлен на регистрационный учет.</p>
          </div>
        </li>
        <li>
          <div class="name num">
            <strong>Автомобиль сдан в аренду</strong></div>
          <div class="text">
            <p>
              Если автомобиль сдан в аренду, транспортный налог платит арендодатель.</p>
            <img alt="" src="/backend/upload/images/3d4eba26-89fd-4800-8547-35aa682159cc.png" style="width: 500px; height: 257px;" />
            <p>
              Ведь при аренде собственник не снимает машину с учета в ГИБДД. Переложить данную обязанность на арендатора нельзя. Хотя в договоре аренды можно предусмотреть, что арендатор компенсирует арендодателю сумму уплаченного транспортного налога. Даже если автомобиль передан в аренду в другой регион, налог все равно уплачивается по месту его регистрации в ГИБДД.</p>
            <p>
              <span style="background-color:#faebd7;">Про то, кто платит транспортный налог, если автомобиль взят в лизинг, мы рассказали в специальном методическом пособии. </span></p>
          </div>
        </li>
        <li>
          <div class="name num">
            <strong>Автомобиль в обособленном подразделении</strong></div>
          <div class="text">
            <p>
              Уплата налога за автомобиль обособленного подразделения зависит от того, на кого он постоянно зарегистрирован в ГИБДД. Если автомобиль постоянно зарегистрирован на головной офис, то и налог уплачивается по месту нахождения головного офиса. Даже в том случае, если автомобиль был временно зарегистрирован в регионе, где находится обособленное подразделение. Если же транспортное средство постоянно зарегистрировано на филиал или иное обособленное подразделение, тогда перечислять транспортный налог нужно в региональный бюджет по месту нахождения подразделения.</p>
            <img alt="" src="/backend/upload/images/3e53613f-c7aa-4ded-bfff-91887f261d6e.png" style="width: 500px; height: 222px;" /></div>
          <div class="name num">
            <strong>Автомобиль с прицепом или полуприцепом</strong></div>
          <div class="text">
            <p>
              Транспортный налог с прицепов и полуприцепов уплачивать не нужно.</p>
            <img alt="" src="/backend/upload/images/543eab86-e131-46b5-91af-94e105393c6d.png" style="width: 500px; height: 201px;" />
            <p>
              Облагаемый налогом транспорт перечислен в пункте 1 статьи 358 Налогового кодекса. Несамоходных наземных транспортных средств, к которым относятся прицепы и полуприцепы, в этом пункте нет. Такой же точки зрения придерживаются и налоговые инспекторы. Об этом говорит пункт 12 Методических рекомендаций по применению главы 28 Налогового кодекса, утвержденных приказом МНС России от 9 апреля 2003 г. № БГ-3-21/177.</p>
          </div>
          <div class="text">
            <p>
              Уплата налога за автомобиль обособленного подразделения зависит от того, на кого он постоянно зарегистрирован в ГИБДД. Если - на головной офис, то и налог уплачивается по месту нахождения головного офиса. Даже в том случае, если автомобиль был временно зарегистрирован в регионе, где находится обособленное подразделение. Если же транспортное средство постоянно зарегистрировано на филиал или иное обособленное подразделение, тогда перечислять налог нужно в региональный бюджет по месту нахождения подразделения.</p>
            <img alt="" src="/backend/upload/images/3e53613f-c7aa-4ded-bfff-91887f261d6e.png" style="width: 500px; height: 222px;" /></div>
          <div class="name num">
            <strong>Автопогрузчики, бурильные установки, самоходные машины и другая спецтехника</strong></div>
          <div class="text">
            <p>
              Налог с автопогрузчиков, бурильных установок, самоходных машин и другой специальной техники платят по общим правилам.</p>
            <img alt="" src="/backend/upload/images/632f14f0-fe44-448e-a782-86dd2932e915.png" style="width: 500px; height: 197px;" />
            <p>
              Если транспорт зарегистрирован в ГИБДД или Гостехнадзоре, то нужно платить за него налог. Данное правило в полной мере действует для спецтехники, смонтированной на базе грузовых автомобилей, а также самоходных машин, механизмов на гусеничном и пневматическом ходу. При этом не важно, для каких целей техника предназначена и какое оборудование на ней установлено. Кроме того, пунктом 2 статьи 358 Налогового кодекса РФ установлен закрытый перечень транспорта, который не облагается налогом. является объектом налогообложения по транспортному налогу. Автопогрузчиков и спецтехники в нем нет.</p>
          </div>
          <div class="name num">
            <strong>Автомобиль был угнан в середине года</strong></div>
          <div class="text">
            <p>
              Если машину похитили, транспортный налог и авансы по нему платить не придется. Но только если есть оригинал справки из полиции, подтверждающей факт угона.</p>
            <img alt="" src="/backend/upload/images/bc805390-be74-4221-85f3-95fe3006f6a4.png" style="width: 500px; height: 127px;" />
            <p>
              Если есть только копия документа, инспекторы самостоятельно обратятся за подтверждением угона в подразделение ОВД, приведенное в ксерокопии.</p>
            <p>
              <span style="background-color:#faebd7;">Заметьте: справку об угоне стоит получить, даже если представитель вашей компании получил копию постановления о возбуждении уголовного дела. Так вы избежите споров с налоговиками. </span></p>
            <p>
              Платить налог не нужно за все то время, пока машина в розыске.</p>
            <img alt="" src="/backend/upload/images/2cfd1da5-2ef5-4b90-82e7-47096e19287d.png" style="width: 500px; height: 192px;" />
            <p>
              То есть с момента, когда будет подтвержден факт угона и до возврата автомобиля. Либо до тех пор, пока уголовное дело не приостановят или прекратят. Но за месяц, в котором машину похитили, налог заплатить придется. Рассчитать налог надо и за месяц, в котором машину найдут и вернут обратно в компанию.</p>
          </div>
          <div class="name num">
            <strong>Автомобиль под арестом</strong></div>
          <div class="text">
            <p>
              Если на автомобиль наложен арест, то налог все равно придется заплатить.</p>
            <img alt="" src="/backend/upload/images/5b71d11f-0ef2-45c6-8520-b3b9a7b1a63b.png" style="width: 500px; height: 196px;" />
            <p>
              Компании платят налог по зарегистрированным на них автомобилям. Начисление налога прекращается с месяца, следующего за тем, в котором транспортное средство было снято с регистрационного учета.</p>
          </div>
        </li>
      </ul>
    </dd>
    <dd>
      <h2>
        Итоги</h2>
    </dd>
    <dd>
      <ul>
        <li>
          1. Транспортный налог уплачивается, если машину сняли с учета, но еще не продали, если она арестована или сдана в аренду, если речь идет о спецтехнике.</li>
        <li>
          2. Налог платить не нужно, если автомобиль угнан или если это не автомобиль, а прицеп.</li>
      </ul>
    </dd>
  </dl>
</div>