.formatted.text-bound
  %h2 Началось обучение 2013&nbsp;года! Обновлены курсы и&nbsp;тесты
  %p<
    %img{src: 'images/static/news/556x370.jpg', width: 556, height: 370}
  %p С&nbsp;1&nbsp;февраля в&nbsp;Высшей Школе Главбуха начато обучение по&nbsp;программе 2013&nbsp;года. Как и&nbsp;раньше, темы и&nbsp;тесты будут открыты не&nbsp;сразу, а&nbsp;постепенно. Теперь у&nbsp;нас 2&nbsp;сертификата и&nbsp;2&nbsp;уровня.
  %p Сначала Вы&nbsp;проходите базовый уровень, набираете 2500&nbsp;баллов, получаете электронный Сертификат 2013&nbsp;года. Он&nbsp;дает Вам доступ к&nbsp;продвинутым курсам. Проходите курсы&nbsp;— получаете электронный и&nbsp;бумажный Золотой Сертификат 2013&nbsp;года.
  %h3 Как получить сертификат?
  %p Необходимость получения базового Сертификата 2013 года связана с&nbsp;тем, что с&nbsp;1&nbsp;января вступили в&nbsp;силу законодательные изменения. Соответственно были обновлены 7&nbsp;базовых курсов, а&nbsp;также наша база тестов.

  %h2 Обучение пока не&nbsp;начато!
  %p В&nbsp;течение января тесты Высшей Школы Главбуха открыты только в&nbsp;игровом режиме. Тесты можно проходить, но&nbsp;баллы за&nbsp;них&nbsp;НЕ начисляются.
  %p Кроме того, у&nbsp;всех пользователей были списаны 1000&nbsp;баллов.
  %p Как только начнется обучение 2013&nbsp;года, мы&nbsp;сразу уведомим всех об&nbsp;этом на&nbsp;сайте и&nbsp;пришлем письмо по&nbsp;электронной почте.

  %h2 Новинки-2013&nbsp;в Высшей Школе
  %p В&nbsp;этом году в&nbsp;Высшей Школе Вас ждет много нового и&nbsp;хорошего. Например:
  %ul
    %li появятся новые углубленные и&nbsp;специальные авторские курсы по&nbsp;всем 24&nbsp;профессиональным темам;
    %li вы&nbsp;сможете получить не&nbsp;только обычный базовый сертификат, но&nbsp;и&nbsp;суперпрестижный&nbsp;— золотой;
    %li тестов станет гораздо больше;
    %li к&nbsp;авторам курсов добавятся чиновники из&nbsp;профильных министерств и&nbsp;ведомств;
    %li процесс обучения станет еще проще и&nbsp;увлекательнее!

  %h2 Новое в&nbsp;курсе «Постановка учета, организация бухгалтерии»
  %p
    = partial('partials/media', locals: data.media.news)