.promo-certificates
  .certificate
    .certificate-nail
    .certificate-inner
      %img{src: "images/static/certificate/simple.jpg", width: 585, height: 411}
  .certificate
    .certificate-nail
    .certificate-inner
      %img{src: "images/static/certificate/gold.jpg", width: 585, height: 411}