.epilogue.drop-shadow
  .text-center
    %h1.headline.headline-large.hide-text{style: 'margin: 15px auto 45px'} Высшая Школа Главбуха

  %table
    %col{width: 1}
    %col{width: '33.3%'}
    %col{width: 1}
    %col{width: '33.3%'}
    %col{width: 1}
    %col{width: '33.3%'}
    %tr
      %td<
        .asset.asset-stencil-a
      %td.text-xsmall Смотрите или читайте лекции и изучайте методические пособия
      %td<
        .asset.asset-stencil-b
      %td.text-xsmall В конце каждого курса сдавайте тест и набирайте баллы.
      %td<
        .asset.asset-stencil-c
      %td.text-xsmall Получайте базовый, а после углубленных курсов — и золотой сертификат.

  %div{style: 'text-align: center; margin: 28px 0 0'}
    %a.button.button-yellow.button-xxxlarge{href: 'registration'} Записаться в школу...
    %p{style: 'margin: 20px auto 0; width: 440px;'} Мы постарались сделать школу интересной и&nbsp;полезной, и&nbsp;надеемся, что вам понравится учеба.
  = partial 'partials/chunks/drop-shadow'