.panel.drop-shadow{style: 'padding: 65px 40px 40px'}

  .text-center
    .asset.asset-oxford-cap
  .text-center
    .headline.headline-large.hide-text Высшая Школа Главбуха

  %div{style: 'margin: 0 4% 0 13%'}
    %table.l-table
      %col{width: 1}
      %col{width: '33.3%'}
      %col{width: 1}
      %col{width: '33.3%'}
      %col{width: 1}
      %col{width: '33.3%'}
      %tr
        %td.l-table-cell
          .asset.asset-stencil-a
        %td.l-table-cell.text-small Смотрите или читайте лекции и&nbsp;изучайте методические пособия
        %td.l-table-cell
          .asset.asset-stencil-b
        %td.l-table-cell.text-small В&nbsp;конце каждого курса сдавайте тест и&nbsp;набирайте баллы.
        %td.l-table-cell
          .asset.asset-stencil-c
        %td.l-table-cell.text-small Получайте базовый, а&nbsp;после углубленных курсов&nbsp;— и&nbsp;золотой сертификат.

  .text-center
    %a.button.button-yellow.button-xxxlarge{href: 'registration'} Записаться в школу...
    .text-large
      Мы&nbsp;постарались сделать школу интересной и&nbsp;полезной,
      %br
      и&nbsp;надеемся, что вам понравится учеба.
  = partial 'partials/chunks/drop-shadow'