%table.l-pentaptych
  %colgroup.l-pentaptych-col{span: 5}
  %tr
    %td.l-pentaptych-cell
      .asset.asset-benefits-a
    %td.l-pentaptych-cell
      .asset.asset-benefits-b
    %td.l-pentaptych-cell
      .asset.asset-benefits-c
    %td.l-pentaptych-cell
      .asset.asset-benefits-d
    %td.l-pentaptych-cell
      .asset.asset-benefits-e
  %tr
    %td.l-pentaptych-cell
      %h3 Подписчикам&nbsp;&mdash; бесплатно
      %p.text-xsmall Все курсы доступны подписчикам «Главбуха», «Семинара для бухгалтера» и&nbsp;«Системы Главбух», а&nbsp;некоторые&nbsp;— всем.
    %td.l-pentaptych-cell
      %h3 В любое время
      %p.text-xsmall Вы&nbsp;сами определяете свои расписание и&nbsp;темп прохождения курсов и&nbsp;тестов.
    %td.l-pentaptych-cell
      %h3 Рецензировано преподавателями
      %p.text-xsmall Материалы рецензированы преподавателями Финансового Университета при Правительстве&nbsp;РФ.
    %td.l-pentaptych-cell
      %h3 Плюс балл на&nbsp;аттестации
      %p.text-xsmall Возможность без последствий сделать одну ошибку на&nbsp;Всероссийской аттестации бухгалтеров.
    %td.l-pentaptych-cell
      %h3 Не&nbsp;скучно
      %p.text-xsmall Среди материалов курсов есть даже обучающие мультфильмы.