.questions
  .questions-nav
    %ul.questions-nav-inner
      %li<
        %a{href: '#question-1'}  Бумажный оригинал сертификата
      %li<
        %a{href: '#question-2'}  Балл на&nbsp;Всероссийской аттестации бухгалтеров. Как воспользоваться
      %li<
        %a{href: '#question-3'}  Как поступить в&nbsp;школу
      %li<
        %a{href: '#question-4'}  Что получает участник по&nbsp;итогам обучения
      %li<
        %a{href: '#question-5'}  Будет&nbsp;ли проставлено в&nbsp;сертификате мое имя
      %li<
        %a{href: '#question-6'}  Чем Высшая Школа Главбуха отличается от&nbsp;Всероссийской аттестации бухгалтеров «Аттестат Главбуха»
      %li<
        %a{href: '#question-7'}  Тип обучения Высшей школы Главбуха
      %li<
        %a{href: '#question-8'}  Чтобы учиться в&nbsp;Школе, надо куда-то ездить? Занятия будут начинаться в&nbsp;определенное время?
      %li<
        %a{href: '#question-9'}  Как получить код доступа к&nbsp;Школе подписчикам БСС «Система Главбух»
      %li<
        %a{href: '#question-10'} Как узнать, записана&nbsp;ли я&nbsp;в&nbsp;Школу, принято&nbsp;ли мое заявление
      %li<
        %a{href: '#question-11'} Какими будут темы курсов
      %li<
        %a{href: '#question-12'} В&nbsp;августе я&nbsp;планирую уйти в&nbsp;отпуск. Не&nbsp;отстану&nbsp;ли я&nbsp;в&nbsp;обучении в&nbsp;Высшей Школе Главбуха
    .questions-caret
  .questions-main
    %h4{id: 'question-1'} Как получить бумажный оригинал Сертификата Высшей Школы Главбуха?
    %p Те, кто набрали 1000 баллов за&nbsp;тесты, уже сейчас могут получить свой электронный Сертификат Высшей Школы Главбуха. Для этого в&nbsp;разделе «Моя учеба» нужно нажать на&nbsp;кнопку «Мой Сертификат». Также наши подписчики могут заказать доставку оригинала Сертификата в&nbsp;разделе «Заявка на&nbsp;оригинал Сертификата».

    %h4{id: 'question-2'} Преференции, которые дает Школа&nbsp;— 1&nbsp;балл на&nbsp;Всероссийской аттестации бухгалтеров (то&nbsp;есть возможность без последствий сделать одну ошибку). Как им&nbsp;воспользоваться?
    %p После окончания аттестационного экзамена и&nbsp;перед подведением итогов всем, у&nbsp;кого есть право на&nbsp;бумажный оригинал Сертификата Высшей Школы Главбуха (то&nbsp;есть подписчикам, набравшим в&nbsp;Школе 1000&nbsp;баллов) будет автоматически присвоен 1&nbsp;балл. Таким образом, при подведении итогов тестирования этот балл будет учитываться автоматически. Значит&nbsp;те, кто наберут 20&nbsp;баллов, получат 21&nbsp;балл и&nbsp;красный Аттестат. Те, кто наберут 19&nbsp;баллов, получат 20&nbsp;баллов и&nbsp;красный Аттестат. Те, кто наберут 18&nbsp;баллов, получат 19&nbsp;баллов и&nbsp;красный Аттестат. Те, кто наберут 17&nbsp;баллов, получат 18&nbsp;баллов и&nbsp;синий Аттестат. Те, кто наберут 16&nbsp;баллов, получат 17&nbsp;баллов и&nbsp;синий Аттестат.

    %h4{id: 'question-3'} Как поступить в&nbsp;Высшую Школу Главбуха?
    %p В&nbsp;журнал «Главбух» №;&nbsp;15&nbsp;за&nbsp;2012&nbsp;г. вклеена карта с&nbsp;кодом, который даст вам право на&nbsp;полный доступ ко&nbsp;всем материалам Школы. На&nbsp;сайте «Главбуха» введите свои логин и&nbsp;пароль (или сначала зарегистрируйтесь) и&nbsp;активируйте карту. Далее следуйте инструкции, которая появится на&nbsp;экране. И&nbsp;подтвердите свое желание учиться в&nbsp;Школе.

    .questions-button
      %em Готовы начать учебу?
      %br
      %a.button.button-yellow{href: 'registration'} Записаться в&nbsp;школу...

    %h4{id: 'question-4'} Что получает участник по&nbsp;итогам обучения?
    %p За&nbsp;каждый успешно пройденный тест участнику начисляются баллы. Как только вы&nbsp;наберете 1000&nbsp;баллов, получите электронный сертификат Высшей Школы Главбуха. Кроме того, будучи подписчиком журнала «Главбух», вы&nbsp;получите и&nbsp;оригинал в&nbsp;бумажном виде. Этот документ подтверждает, что вы&nbsp;прошли программу обучения в&nbsp;Школе, и&nbsp;дает преференции на&nbsp;Всероссийской аттестации бухгалтеров «Аттестат Главбуха»&nbsp;— вам прибавят 1&nbsp;балл. И&nbsp;тесты, и&nbsp;курсы будут постоянно пополняться.

    %h4{id: 'question-5'} Будет&nbsp;ли проставлено в&nbsp;сертификате Школы мое имя? И&nbsp;за&nbsp;какие успехи его дают?
    %p Разумеется, вы&nbsp;получите именной сертификат. Для этого проходите профессиональные тесты, которые предлагает Школа. Готовиться к&nbsp;тестированию вам помогут ее&nbsp;обучающие материалы на&nbsp;нашем сайте. За&nbsp;тест, пройденный удовлетворительно, начисляются баллы. Когда у&nbsp;вас наберется 1000 баллов&nbsp;— получите сертификат. Электронный сертификат вы&nbsp;можете выслать по&nbsp;е-mail потенциальному работодателю. Или прикрепить к&nbsp;своему резюме, размещенному на&nbsp;сайтах для поиска работы. Ну&nbsp;а&nbsp;бумажный оригинал, понятно, еще более весомое преимущество соискателя.

    %h4{id: 'question-6'} Чем Высшая Школа Главбуха отличается от&nbsp;Всероссийской аттестации бухгалтеров «Аттестат Главбуха»?
    %p Аттестация&nbsp;— это не&nbsp;образовательный процесс, а&nbsp;контрольная проверка, с&nbsp;очень сложными заданиями. И&nbsp;Аттестат Главбуха&nbsp;— авторитетнейший документ, который подтверждает высокий профессиональный уровень специалиста. Высшая Школа обучает, подтягивает знания. А&nbsp;ее&nbsp;сертификат подтверждает, что пройдена образовательная программа. После такого обучения бухгалтер может смело регистрироваться на&nbsp;участие в&nbsp;аттестации.

    %h4{id: 'question-7'} Много говорится про новый тип обучения, который практикует Высшая Школа Главбуха. Что это такое?
    %p Главный принцип&nbsp;— обучение максимально наглядное, простое и&nbsp;неутомительное. Много иллюстраций, схем, таблиц, презентаций, видео. Все написано простым человеческим языком, без цитат из&nbsp;кодексов. Для развлечения&nbsp;— бухгалтерские мультики (но&nbsp;все равно по&nbsp;учебе!). Так материал лучше усваивается.

    %h4{id: 'question-8'} Чтобы учиться в&nbsp;Школе, надо куда-то ездить? Занятия будут начинаться в&nbsp;определенное время?
    %p Никуда ездить не&nbsp;нужно. Высшая Школа Главбуха&nbsp;— это сайт в&nbsp;Интернете. Там собрана огромная коллекция профессиональных тестов. И&nbsp;обучающие материалы нового типа. Минимум текста, максимум изображения: презентации, видеокурсы и&nbsp;даже тематические мультфильмы. Проходить тесты и&nbsp;просматривать обучающие материалы вы&nbsp;сможете когда вам будет удобно&nbsp;— на&nbsp;работе, дома, в&nbsp;будни или выходные, в&nbsp;любое время суток. Для этого вам нужен только компьютер с&nbsp;Интернетом.

    %h4{id: 'question-9'} Как получить код доступа к&nbsp;Школе подписчикам БСС «Система Главбух»?
    %p Для того, чтобы подать заявление в&nbsp;Высшую Школу Главбуха, подписчику БСС «Система Главбух» необходимо авторизоваться на&nbsp;сайте журнала «Главбух»&nbsp;— ввести свой логин и&nbsp;пароль (если они уже есть) или зарегистрироваться, как новый пользователь. Обратите внимание&nbsp;— логин и&nbsp;пароль, которые вводятся на&nbsp;сайте БСС «Система Главбух» не&nbsp;подходят! После этого сайт Высшей Школы Главбуха будет Вас узнавать. И&nbsp;Вы&nbsp;можете подать Заявление в&nbsp;Высшую Школу Главбуха. А&nbsp;ближе к&nbsp;началу занятий (примерно к&nbsp;6&nbsp;августа) в&nbsp;Вашем Личном кабинете на&nbsp;сайте БСС «Система Главбух» будет размещен аш&nbsp;персональный код доступа ко&nbsp;всем материалам Школы. Вы&nbsp;активируете его в&nbsp;Личном кабинете. Там&nbsp;же будет и&nbsp;инструкция по&nbsp;активации кода.

    %h4{id: 'question-10'} Как узнать, записана&nbsp;ли я&nbsp;в&nbsp;Школу, принято&nbsp;ли мое заявление?
    %p Как только&nbsp;Вы прошли процедуру подачи заявления, на&nbsp;сайте кнопка «Записаться в&nbsp;школу» меняется на&nbsp;кнопку «Моя учеба». Нужно нажать на&nbsp;нее для того, чтобы начать обучение. «Моя учеба»&nbsp;— своеобразный дневник учебы каждого слушателя. В&nbsp;нем будут отмечаться пройденные темы, накапливаться баллы и&nbsp;многое другое.

    %h4{id: 'question-11'} Какими будут темы курсов?
    %p Прежде всего, строгого учебного плана, обязательного для всех, в&nbsp;Школе нет. Вы&nbsp;сами выбираете, какую область знаний хотите проверить и&nbsp;что именно изучить. Выбор большой. В&nbsp;этом году вы&nbsp;пройдете курсы и&nbsp;тесты более чем по&nbsp;20&nbsp;основным темам. Подробный перечень можно посмотреть в&nbsp;разделе «Все курсы». И&nbsp;тесты, и&nbsp;курсы будут постоянно пополняться.

    %h4{id: 'question-12'} В&nbsp;августе я&nbsp;планирую уйти в&nbsp;отпуск. Не&nbsp;отстану&nbsp;ли я&nbsp;в&nbsp;обучении в&nbsp;Высшей Школе Главбуха?
    %p Нет. Ничего непоправимого за&nbsp;время Вашего отпуска не&nbsp;произойдет. Обучение в&nbsp;Высшей Школе Главбуха можно начать в&nbsp;любое удобное для Вас время. Самое главное&nbsp;— набрать 1000 баллов в&nbsp;срок до&nbsp;1&nbsp;ноября 2012&nbsp;года. Именно в&nbsp;этот день будут составлены списки получателей бумажных оригиналов Сертификата. Если&nbsp;же Вам достаточно иметь только электронный Сертификат, или&nbsp;Вы готовы подождать свой бумажный оригинал до&nbsp;1&nbsp;ноября 2013&nbsp;года, то&nbsp;свою 1000 баллов можно набрать и&nbsp;позднее срока (то&nbsp;есть позже 1&nbsp;ноября 2012&nbsp;года). Напомним, что для того, чтобы набрать 1000&nbsp;баллов, необходимо верно ответить на&nbsp;тесты. За&nbsp;верные ответы начисляются баллы.