.promo-slides
  %ul.promo-slides-nav{style: 'margin: 20px 0 25px'}
    %li Материалы курса
    %li.is-active Прохождение теста
    %li Список курсов
  .promo-slides-main
    .promo-slides-pane<
      %img{src: 'images/static/slides/slide-a.jpg', width: 895, height: 466}
    .promo-slides-pane.is-active<
      %img{src: 'images/static/slides/slide-b.jpg', width: 895, height: 466}
    .promo-slides-pane<
      %img{src: 'images/static/slides/slide-c.jpg', width: 895, height: 466}