- if item.award
  - if item.award > 0
    %a.button.button-orange{href: 'test-checkboxes'}
      %b.pull-right= "+#{ item.award }"
      Тест
  - else
    %a.button{href: 'test-checkboxes', class: item.pro ? 'button-beuge' : 'button-white'}
      %span.icon.icon-restart.pull-right
      Сдано
- elsif item.when
  = item.when