.frame-stack {
  > .frame {
    float: left;
    margin-left: 35px;
    &:first-child {
      margin: 0;
    }
  }
}

.frame {
  display: inline-block;
  height: 74px;

  > a,
  > img {
    display: block;
  }
}

.frame-dashed {
  background: sprite($sprite-main, frame-dashed);
  padding: 14px 12px 21px;
  width: 112px;
}

.frame-wooden {
  background: sprite($sprite-main, frame-wooden);
  padding: 11px 5px 18px 4px;
  width: 104px;
}

.frame-label {
  margin: -24px 0 4px;
  text-align: center;
  white-space: nowrap;

  > span {
    background: #f4f6f5;
    padding: 0 6px;
  }
}