.notice {
  @include font-height(13px, 18px);
  margin: 20px 0;
  text-align: center;
  white-space: nowrap;
  > .icon {
    margin-right: 4px;
  }
}

.notice-aside {
  display: inline-block;
  vertical-align: top;
  margin: -3px 0 0 16px;

  > .button {
    float: left;
    margin-left: 10px;

    &:first-child {
      margin: 0;
    }
  }
}