.l-modals {
  @include position(fixed, 0);
  @include rgba-background(#FFF, 0.8, $ie-clickable: true);
  cursor: pointer;
  display: none;
  font-size: 0;
  overflow: auto;
  padding: 15px 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 9999;

  &.is-active {
    display: block;
  }

  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &:before {}
}

.l-modals-inner {
  cursor: default;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}