.l-triplet {
  width: 100%;
}

.l-triplet-col {
  vertical-align: top;
}

.l-triplet-col-1 {
  width: 15%;
}

.l-triplet-col-1-2 {
  width: 3%;
}

.l-triplet-col-2 {
  width: 60%;
}

.l-triplet-col-2-3 {
  width: 3%;
}

.l-triplet-col-3 {
  // margin-left: 4%;
  width: 18%;
}

.l-triplet-cell {
  padding: 0;
  vertical-align: top;
}