.l-promo-section {
  padding: 32px 0;
}

.l-promo-section-gray,
.l-promo-section-white {
  box-shadow:
    inset 0 16px 16px -16px rgba(#000, 0.25),
    inset 0 -2px 2px -2px rgba(#000, 0.25);
}

.l-promo-section-gray {
  background: image-url('pattern-background-gray.png') #e4e6e5;
}

.l-promo-section-white {
  background: #FFF;
}