.board
  .board-inner
    .board-main
      .board-lead
        <b><a class="link link-bare" href="/promo"><u>Узнайте все о&nbsp;школе</u>:</a></b>
        о&nbsp;сертификатах, ученом совете, программе и&nbsp;учебном процессе, посмотрите примеры лекций, ознакомьтесь с&nbsp;отзывами, прочитайте ответы на&nbsp;частые вопросы.
      .board-aside
        %a.board-button{href: '/register'} Записаться в школу...
        .board-button-affix
          или
          %a.link{href: '#'} войти под&nbsp;своим именем
    .board-footer
      %table.l-table
        %colgroup{span: 3, width: '33.3%'}
        %tr
          %td.l-table-cell.l-table-cell-text
            .asset.asset-board-flipchart.pull-left
            Смотрите или&nbsp;читайте лекции и&nbsp;изучайте методические пособия
          %td.l-table-cell.l-table-cell-text
            .asset.asset-board-exam.pull-left
            В&nbsp;конце каждого курса сдавайте тест и&nbsp;набирайте баллы.
          %td.l-table-cell.l-table-cell-text
            .asset.asset-board-certificate.pull-left
            Получайте базовый, а&nbsp;после углубленных курсов&nbsp;— и&nbsp;золотой сертификат.
  <div class="tl"></div><div class="t"></div><div class="tr"></div>