.l-header.l-header-alt
	.headline.headline-small.headline-small-alt.hide-text.pull-left Высшей Школы Главбуха
	= partial('partials/menu')
	%h1 
		Рейтинг за неделю
		%small 
			Обновляется по понедельникам
.exam__p1.parallax-layer
.exam__p2.parallax-layer
.exam.drop-shadow
	.exam-inner
		.exam-rating
			.partic.partic_1
				.partic__place 1
				.partic__points
					%i
					350
					%small 
						баллов
				.partic__content
					%a.partic__name{:href => "#"} Лариса Иванова
					.partic__meta
						13 тестов • 2 сертификата • 12 наград
					.partic__text
						Сдала за неделю: Основные средства, Нематериальные активы, Товары, Готовая продукция, Забалансовые счета, Материалы, Постановка учета, организация бухгалтерии
			.partic.partic_2
				.partic__place 2
				.partic__points
					%i
					350
				.partic__content
					%a.partic__name{:href => "#"} Лариса Иванова
					.partic__meta
						13 тестов • 2 сертификата • 12 наград
			.partic.partic_3
				.partic__place 3
				.partic__points
					%i
					350
				.partic__content
					%a.partic__name{:href => "#"} Лариса Иванова
					.partic__meta
						13 тестов • 2 сертификата • 12 наград
			.partic
				.partic__place 4
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Лариса Иванова
			.partic
				.partic__place 4
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Лариса Иванова
			.partic.is-me
				.partic__place 4
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Лариса Иванова
			.partic__all
				из 2 256
			
	= partial('partials/chunks/drop-shadow')