.parallax-layer
	.exam__p1#layer1
	.exam__p2#layer2
.l-header.l-header-alt
	.headline.headline-small.headline-small-alt.hide-text.pull-left Высшей Школы Главбуха
	= partial('partials/menu')
	%h1 
		Рейтинг за неделю
		%small 
			Обновляется по понедельникам
.exam.drop-shadow
	.exam-inner.exam-inner-alt
		.exam-rating
			.partic.partic_1
				.partic__place 1
				.partic__points
					%i
					350
					%small 
						баллов
				.partic__content
					%a.partic__name{:href => "#"} Виктория Иванова
					.partic__meta
						13 тестов · 2 сертификата · 12 наград
					.partic__text
						Сдала за неделю: Основные средства, Нематериальные активы, Товары, Готовая продукция, Забалансовые счета, Материалы, Постановка учета, организация бухгалтерии
			.partic.partic_2
				.partic__place 2
				.partic__points
					%i
					350
				.partic__content
					%a.partic__name{:href => "#"} Пелагея Иванова
					.partic__meta
						13 тестов · 2 сертификата · 12 наград
			.partic.partic_3
				.partic__place 3
				.partic__points
					%i
					350
				.partic__content
					%a.partic__name{:href => "#"} Андриана Иванова
					.partic__meta
						13 тестов · 2 сертификата · 12 наград
			.partic
				.partic__place 4
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Анжелика Иванова
			.partic
				.partic__place 5
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Дарина Иванова
			.partic
				.partic__place 6
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Мария Иванова
			.partic
				.partic__place 7
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Анастасия Иванова
			.partic
				.partic__place 8
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Анастасия Иванова
			.partic
				.partic__place 9
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Дарина Иванова
			.partic
				.partic__place 10
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Мария Иванова
			.partic.partic_spaced
				.partic__place 11
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Анастасия Иванова
			.partic
				.partic__place 12
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Юля Иванова
			.partic
				.partic__place 13
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Лена Иванова
			.partic
				.partic__place 14
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Света Иванова
			.partic
				.partic__place 15
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Вика Иванова
			.partic
				.partic__place 16
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Оля Иванова
			.partic
				.partic__place 17
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Кристина Иванова
			.partic
				.partic__place 18
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Мария Иванова
			.partic
				.partic__place 19
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Анастасия Иванова
			.partic
				.partic__place 20
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Лика Иванова
			.partic.partic_spaced
				.partic__place 21
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Влада Иванова
			.partic
				.partic__place 22
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Инна Иванова
			.partic
				.partic__place 23
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Катя Иванова
			.partic
				.partic__place 24
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Евгения Иванова
			.partic
				.partic__place 25
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Евгения Смолина
			.partic.partic_spaced.is-me
				.partic__place 94
				.partic__points
					%i
					300
				.partic__content
					%a.partic__name{:href => "#"} Ксения Новикова
			.partic__all
				из 2 256
			
	= partial('partials/chunks/drop-shadow')