- menu ||= false

.l-header
  %a.button.button-white.button-prev.pull-left{href: 'courses'} Все курсы
  .headline.headline-small.hide-text.pull-left Высшей Школы Главбуха
  %h1= current_page.data.title
  - if menu
    = partial('partials/menu')