.notice
  %span.icon.icon-lock
  Часть курсов доступны только подписчикам
  .notice-aside
    %a.button.button-azure{href: '/login'} Я подписчик
    %a.button.button-yellow{href: '/register'} Стать подписчиком