.notice
  %span.icon.icon-lock
  Часть курсов доступны только подписчикам
  .notice-aside
    %a.button.button-white{href: '/login'} Я подписчик
    %a.button.button-blue{href: '/register'} Стать подписчиком