.button {
  @include box-sizing(border-box);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font: bold 12px/15px sans-serif;
  height: 25px;
  overflow: visible;
  padding: 4px 12px;
  text-align: left;
  vertical-align: baseline;
  white-space: nowrap;

  &[disabled],
  &.is-disabled {
    @include opacity(0.6);
    cursor: default;
  }

  > .icon.pull-left,
  > .icon.pull-right {
    margin-top: -5px;
  }

  span {
    position: relative;
  }
}

a.button {
  text-decoration: none;
}