$explorer-version: false !default;

@mixin explorer ($versions) {
  @if explorer($versions) {
	@content;
  }
}
@mixin font-face ($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
	font-family: $font-family;
	@include explorer(8) {
	  src: font-url("#{ $file-path }.eot");
	  src: font-url("#{ $file-path }.eot?#iefix") format('embedded-opentype');
	}
	@include explorer(9 false) {
	  src: inline-font-files("#{ $file-path }.woff", woff);
	}
	font-weight: $weight;
	font-style: $style;
  }
}
*{
	//outline: 1px solid rgba(#000, .3);
}
//@include font-face('Ruble Merge Pro',    'RubleMergePro-Regular',    400, normal);
@include font-face('Ruble Arial',        'RubleArial-Regular',       400, normal);

//@include font-face("Rub", font-files('RubleArial-Regular.woff', 'RubleArial-Regular.eot'));
.epilogue {
	background: #ebe6ce;
	margin-top: 70px;
	padding: 65px;

	&:before {
		@include sprite-dimensions($sprite-assets, oxford-cap);
		background: sprite($sprite-assets, oxford-cap);
		content: '';
		display: block;
		margin: auto;
	}
	.text-xsmall{
		padding-right: 20px;
	}
}

.ep{
	font-size: 0;
	overflow: hidden;
	padding-top: 24px;
	background: url(../images/promoline.png) no-repeat 50% 0;
	@include background-size(80%, 1px);
	margin-top: 40px;
	text-align: center;
	.ep__col{
		width: 33%;
		float: left;
		position: relative;
		text-align: left;
		left: 45px;
	}
	.ep__title{
		font-size: 24px;
		font-weight: bold;
		color: #000;
		margin-bottom: 10px;
	}
	ul{
		list-style: none;
		font-size: 13px;
		color: #b3b0a1;
		margin: 0;
		padding: 0;
		margin-bottom: 15px;
	}
	li{
		margin-bottom: 5px;
	}
	.is-active{
		color: #000;
	}
	small{
		display: block;
		margin-top: 8px;
		font-size: 13px;
		
		span{
			font-family: 'Ruble Arial',arial,sans-serif;
		}
	}
	.ep__submit{
		width: 150px;
		text-align: center;
		font-size: 16px;
		height: 33px;
		line-height: 33px;
		border: 1px solid #CBC6B7;
		border-top-color: #DAD5C4;
		border-bottom-color: #A9A491;
		cursor: pointer;
		border-radius: 4px;
		background-color: #f5f3ea;
		box-shadow: 0 3px 6px rgba(77,54,23,.1);
		@include background-image(linear-gradient(top, #f9f8ef 0%, #eae7d7 100%));
		&:hover{
			@include background-image(linear-gradient(top, #FFFDF4 0%, #F1EDDE 100%));
		}
		&:active{
			@include background-image(linear-gradient(top, #FAF8F0 0%, #ECE8DA 100%));
		}
		&.ep__submit_orange{
			border: 1px solid #EDB84F;
			border-top-color: #F4C970;
			border-bottom-color: #C59545;
			background-color: #ffcd4f;
			@include background-image(linear-gradient(top, #ffd670 0%, #f5b517 100%));
			&:hover{
			@include background-image(linear-gradient(top, #FFD985 0%, #FFBC37 100%));
			}
			&:active{
				@include background-image(linear-gradient(top, #FFD577 0%, #F9B534 100%));
			}
		}
	}
}