.promo-phase {
  display: table;
  width: 100%;
}

.promo-phase-image,
.promo-phase-arrow {
  display: table-cell;
  vertical-align: middle;
}

.promo-phase-image {
  width: 1px;
}

.promo-phase-arrow {
  padding-left: 15px;
  padding-left: 3px;
  text-align: center;
  .sprite {
    margin: 0 -20px;
  }
}