---
layout: layout_inner
title: "Ученый совет"
sitemap: "Ученый совет"
---

- content_for :content do
  .text-bound
    %p В&nbsp;ученый совет школы помимо создателей «Главбуха» входят главные специалисты по&nbsp;всем темам, затронутым в&nbsp;курсах&nbsp;— налоги, взносы, бухучет, кадровое дело, социальное страхование. Система тестов одобрена ученым советом и&nbsp;рецензирована преподавателями Финансового Университета при Правительстве&nbsp;РФ.
    = partial('partials/council')