---
layout: layout_exam1
title: "Рейтинг за неделю <small>Обновляется по понедельникам</small>"
sitemap: "(провален)"
sitemap_category: "Страница с тестом"
---

- content_for :exam do
  = partial('partials/exam-rating')