---
layout: layout_exam
title: "Материалы: тест"
sitemap: "(провален)"
sitemap_category: "Страница с тестом"
---

- content_for :exam do
  = partial('partials/exam-failure')

- content_for :progress do
  = partial('partials/progress', locals: data.progress.test_failed)